BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
PointerAlignment: Left
ColumnLimit: 120
TabWidth: 4